@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/* space */
/* 0 / 4 / 8 / 16 / 24 / 32 / 48 / 64 / 96 / 128 */
/* font */
/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 48 / 60 */

:root {
  /* font */
  font-size: 62.5%;
  /* color */
  --black: #00100e;
  --white: #efeff1;
  --red: #f96416;
  --highlight: #28ebcf;
  /* shadow */
  --shadow: 0 0 7px 3px var(--highlight);
}

* {
  /* reset */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font */
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
}

body {
  /* color */
  background-color: var(--black);
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.qonnect {
  font-size: 3rem;
  font-weight: 700;
}

.create {
  font-size: 2rem;
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

input {
  padding: 0.2rem 0.4rem;
  color: var(--black);
}

.login {
  padding: 0.4rem 0.8rem;
  background-color: var(--highlight);
  border: none;
  border-radius: 0.4rem;
  color: var(--black);
  font-weight: 500;
}

.open-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
}

.open-modal img,
.modal img {
  width: 2rem;
  filter: invert(90%);
}

.modal * {
  color: var(--black);
}

.modal {
  width: 90%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 0.4rem;
  padding: 0.8rem;
}

.modal p {
  position: relative;
  top: 1.5rem;
}

.hidden {
  display: none;
}

.close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  font-size: 3rem;
  font-weight: 700;
}

#menu {
  width: 100vw;
  height: 100dvh;
  display: flex;
}

.nav-main {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.nav-main ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-main ul li {
  list-style: none;
}

.nav-main ul li a img {
  width: 2.4rem;
}