@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
  /* font */
  font-size: 62.5%;
  /* color */
  --black: #212830;
  --white: #efeff1;
  --highlight: #ea580c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font */
  font-family: 'Montserrat', sans-serif;
  color: var(--white);
}


body {
  /* color */
  background-color: var(--black);
}

main {
  width: 100vw;
  height: 100vh;
}